root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
max_line_length = 200

[*.{md, groovy, sh, yml, bat}]
max_line_length = off

[**/{target, jaxb, META-INF, .idea, .git, liquibase}/**]
indent_style = unset
trim_trailing_whitespace = unset
max_line_length = unset
insert_final_newline = unset
end_of_line = unset

[*.{iml, keystore}]
max_line_length = unset
end_of_line = unset
insert_final_newline = unset
